<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="static/basic.css" rel="stylesheet">
    <title>Used Car App</title>
</head>
<body>
  <font style="font-family: 'Montserrat',sans_serif" color="#ffffff">
    <h1>Welcome to Used Car Price Prediction App! </h1>
    <h3>
    <form action="/" method="post">
      <body>
          <p>
            <hr/>
              <i>This app helps predict used car prices in Germany and Czech Republic's market</i>
              <br>
              <i>Please enter the parameters of the car you wish to purchase:</i>
          </p>
          Mileage
          <input type="text" name="mileage">
          <br>
          Engine Displacement
          <input type="text" name="engine_displacement">
          <br>
          Engine Power
          <input type="text" name="engine_power">
          <br>
          Door Count
          <input type="text" name="door_count">
          <br>
          Seat Count
          <input type="text" name="seat_count">
          <br>
          <br>
          <br>
          <button id="button" type="submit">Click to get the Price!</button>
          <h2><i>{{price}}</i></h2>
      </body>
      </form>    
    <script src="static/index.js"></script>
  </h3>
  </font>
</body>
</html>