<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
    <title>Wine Quality Test</title>
</head>

<body>
    <h1> Wine Quality Test <h1>
    <h3> <h3>
      <body>
        <div style = "color:green">
          <p>
            <hr />
                <i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter the chemical index of your wine.</i>
          </p>
          fixed acidity
          <input type="text" name="fixed acidity">
          <br>
          volatile acidity
          <input type="text" name="volatile acidity">
          <br>
          citric acidity
          <input type="text" name="citric acidity">
          <br>
          residual
          <input type="text" name="residual">
          <br>
          chlorides
          <input type="text" name="chloride">
          <br>
          free sulfur dioxide
          <input type="text" name="free sulfur dioxide">
          <br>
          total sulfur dioxide
          <input type="text" name="total sulfur dioxide">
          <br>
          density
          <input type="text" name="density">
          <br>
          pH
          <input type="text" name="pH">
          <br>
          sulphates
          <input type="text" name="sulphates">
          <br>
          alcohol
          <input type="text" name="alcohol">
          <br>
        </div>         
      </body>
    <form>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="go" value="Submit"/>
    </form>
    

</body>
</html>